<%= form_with url: login_path, method: :post, local: true, data: { turbo: false }, html: { novalidate: true } do %>
  <%# Username field used to find the account being logged into. %>
  <div class="mb-3">
    <label class="form-label">Username</label>
    <%= text_field_tag :username, params[:username], class: "form-control", autocomplete: "off" %>
  </div>

  <%# Password field used to check the account password. %>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <%= password_field_tag :password, nil, class: "form-control" %>
  </div>

  <%# Sends the username and password to SessionsController#create. %>
  <div class="d-grid">
    <%= submit_tag "Log in", class: "btn btn-primary" %>
  </div>
<% end %>