.sets-card-img{
  aspect-ratio:4/3;
  object-fit:cover;
}

.era-badge{
  max-height:56px;
  object-fit:contain;
}

.era-badge.is-mega{
  max-height:96px;
}

.era-badge.is-sv-small{
  max-height:44px;
}

.era-badge.is-ss-smaller{
  max-height:36px;
}

#era-list .era-item{
  border-radius:999px!important;
  font-weight:800!important;
}

.border-dashed{
  border-style:dashed!important;
}